<a href="https://colab.research.google.com/github/DArsem2306/Programa-Python-Utec/blob/main/modulo1_fundamentos/Clase06_Estructuras_Repetitivas/Laboratorio_de_ejercicios_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

Ejercicio 1

Crear una lista con los nombres de 5 bancos.

In [1]:
# Crear una lista con los nombres de 5 bancos

bank = ['BCP','Scotia','BBVA','Pichincha','MiBanco']

In [2]:
bank

['BCP', 'Scotia', 'BBVA', 'Pichincha', 'MiBanco']

Ejercicio 2

Acceder al tercer banco de la lista.

In [12]:

bank = ['BCP','Scotia','BBVA','Pichincha','MiBanco']
third_bank = bank[2] # Acceder al tercer banco de la lista
print("Tercer banco:",third_bank)

Tercer banco: BBVA

Ejercicio 3

Agregar un nuevo banco a la lista.

In [13]:
#Agregar un nuevo banco
bank.append('Interbank')
print("Lista de bancos actualizada:",bank)

Lista de bancos actualizada: ['BCP', 'Scotia', 'BBVA', 'Pichincha', 'MiBanco', 'Interbank']

Ejercicio 4

Eliminar el segundo banco.

In [14]:
del bank[1]
print("Lista de bancos actualizada:",bank)

Lista de bancos actualizada: ['BCP', 'BBVA', 'Pichincha', 'MiBanco', 'Interbank']

Ejercicio 5

Ordenar alfabéticamente los bancos.

In [15]:
bank.sort()
print("Lista de bancos ordenada alfabéticamente:",bank)

Lista de bancos ordenada alfabéticamente: ['BBVA', 'BCP', 'Interbank', 'MiBanco', 'Pichincha']

# Condicionales IF, ELIF, ELSE

In [29]:
# Datos de ejemplo
income = 3500
age = 30
credit_score = 700
balance = 2500
products = 4

Ejercicio 1

Verificar si un cliente tiene ingreso > 3000.

In [17]:
# Verificar si un cliente tiene ingreso > 3000
if income > 3000:
    print("El cliente tiene un ingreso mayor a 3000.")
else:
    print("El cliente tiene un ingreso de 3000 o menos.")

El cliente tiene un ingreso mayor a 3000.

Ejercicio 2

Evaluar edad para otorgar tarjeta de crédito.

In [19]:
# Evaluar edad para otorgar tarjeta de crédito
if age >= 18:
    print("Cliente elegible para tarjeta de crédito.")
else:
    print("Cliente no elegible por edad.")

Cliente elegible para tarjeta de crédito.

Ejercicio 3

Evaluar un score de crédito.

In [23]:
# Evaluar un score de crédito
if credit_score >= 750:
    print("Excelente score crediticio.")
elif 650 <= credit_score < 750:
    print("Buen score de crédito.")
else:
    print("Score crediticio bajo.")

Buen score de crédito.

Ejercicio 4

Verificar si una cuenta tiene saldo negativo.

In [26]:
# Verificar si una cuenta tiene saldo negativo
if balance < 0:
    print("La cuenta tiene saldo negativo.")
else:
    print("La cuenta tiene saldo positivo.")

La cuenta tiene saldo positivo.

Ejercicio 5

Comparar dos tasas de interés.

In [28]:
interest_rate1 = 0.03
interest_rate2 = 0.04

# Comparar dos tasas de interés
if interest_rate1 > interest_rate2:
    print("La tasa 1 es mayor que la tasa 2.")
elif interest_rate1 < interest_rate2:
    print("La tasa 2 es mayor que la tasa 1.")
else:
    print("Ambas tasas son iguales.")

La tasa 2 es mayor que la tasa 1.

Ejercicio 6

Evaluar si un cliente tiene más de 3 productos financieros.

In [30]:
# Evaluar si un cliente tiene más de 3 productos financieros
if products > 3:
    print("El cliente tiene más de 3 productos financieros.")
else:
    print("El cliente tiene 3 o menos productos financieros.")

El cliente tiene más de 3 productos financieros.

Ejercicio 7

Determinar si un monto depositado supera los 10,000.

In [33]:
# Determinar si un monto depositado supera los 10,000
deposit = 5500
if deposit > 10000:
    print("El monto depositado supera los 10,000.")
elif deposit == 10000:
    print("El monto depositado es 10,000.")
else:
    print("El monto depositado es menor a 10000.")

El monto depositado es menor a 10000.

# **Diccionarios**

Ejercicio 1

Crear un diccionario con datos de un cliente.

In [42]:
clients = {
    "name": "Daniel",
    "age": 30,
    "balance": 4500,
}

Ejercicio 2

Acceder al saldo del cliente.

In [43]:
print(clients["balance"])  # Acceder al ingreso del cliente
print(clients["name"])

4500
Daniel

Ejercicio 3

Modificar el saldo.

In [44]:
clients["balance"] = 35000
print(clients['balance'])

35000

Ejercicio 4

Agregar una nueva llave 'tarjeta_credito'.

In [45]:
clients['tarjeta_credito'] = 'Visa Signature'

Ejercicio 5

Eliminar el nombre del cliente.

In [46]:
del clients['name']

In [47]:
print(clients)

{'age': 30, 'balance': 35000, 'tarjeta_credito': 'Visa Signature'}

# FOR

Ejercicio 1

Recorrer una lista de tasas de interés.

In [48]:
# Lista de tasas de interés
int_rate = [2.5, 3.0, 4.1, 5.6, 6.2]

# Recorrer la lista y mostrar cada tasa
for rate in int_rate:
    print(f"Tasa de interés: {rate}%")

Tasa de interés: 2.5%
Tasa de interés: 3.0%
Tasa de interés: 4.1%
Tasa de interés: 5.6%
Tasa de interés: 6.2%

Ejercicio 2

Sumar todos los saldos de una lista.

In [49]:
# Lista de saldos
balance = [1500.50, 2300.75, 500.00, 1200.20, 800.00]

# Sumar todos los saldos
total_balance = sum(balance)

print(f"El total de los saldos es: {total_balance}")

El total de los saldos es: 6301.45

In [52]:
# Usando el for

total_balance1 = 0
for balance in balance:
    total_balance1 += balance
print(f"El total de los saldos es: {total_balance1}")

El total de los saldos es: 6301.45

Ejercicio 3

Recorrer una lista de precios de productos ecommerce y aplicar descuento de 10%.

In [50]:
# Lista de precios de productos
price_list = [100.0, 250.0, 80.0, 150.0, 60.0]

# Lista para guardar los precios con descuento
discounted_prices = []

# Recorrer la lista y aplicar el descuento
for price in price_list:
    discounted_price = price * 0.90  # Aplicar 10% de descuento
    discounted_prices.append(discounted_price)
    print(f"Precio original: {price}, Precio con descuento: {discounted_price}")

# Mostrar la lista final
print("Precios finales con descuento:", discounted_prices)

Precio original: 100.0, Precio con descuento: 90.0
Precio original: 250.0, Precio con descuento: 225.0
Precio original: 80.0, Precio con descuento: 72.0
Precio original: 150.0, Precio con descuento: 135.0
Precio original: 60.0, Precio con descuento: 54.0
Precios finales con descuento: [90.0, 225.0, 72.0, 135.0, 54.0]

Ejercicio 4

Contar cuántos productos tienen un precio mayor a 100.

In [54]:
count = 0
for discounted_price in discounted_prices:
    if discounted_price > 100:
        count += 1
print("Productos con precios mayor a 100:", count)

Productos con precios mayor a 100: 2

Ejercicio 5

Recorrer campañas de marketing y mostrar su nombre.

In [55]:
# Lista de campañas de marketing
marketing_campaigns = ["Lanzamiento Verano", "Black Friday", "Navidad 2025", "Cyber Days", "Back to School"]

# Recorrer la lista y mostrar el nombre de cada campaña
for campaign in marketing_campaigns:
    print("Nombre de campaña:", campaign)

Nombre de campaña: Lanzamiento Verano
Nombre de campaña: Black Friday
Nombre de campaña: Navidad 2025
Nombre de campaña: Cyber Days
Nombre de campaña: Back to School

Ejercicio 6

Recorrer un diccionario de clientes con saldo y mostrar solo los que tengan saldo > 2000.

In [56]:
# Diccionario de clientes con su saldo
clients = {
    "Juan": 1500,
    "María": 3200,
    "Pedro": 2100,
    "Lucía": 1800,
    "Andrés": 5000
}

# Recorrer el diccionario y mostrar solo los clientes con saldo > 2000
for client, balance in clients.items():
    if balance > 2000:
        print(f"Cliente: {client}, Saldo: {balance}")

Cliente: María, Saldo: 3200
Cliente: Pedro, Saldo: 2100
Cliente: Andrés, Saldo: 5000

Ejercicio 7

Recorrer una lista de emails de clientes y contar los que terminan en "@gmail.com".

In [57]:
# Lista de correos electrónicos de clientes
emails = [
    "juan@outlook.com",
    "maria@gmail.com",
    "pedro@yahoo.com",
    "lucia@gmail.com",
    "andres@hotmail.com"
]

# Contar los correos que terminan en "@gmail.com"
count_gmail = 0
for email in emails:
    if email.endswith("@gmail.com"):
        count_gmail += 1

print(f"Cantidad de correos con dominio '@gmail.com': {count_gmail}")

Cantidad de correos con dominio '@gmail.com': 2

# Mini Proyecto

"Evaluador de Clientes Hipotecarios"

Contexto:
Un banco quiere evaluar a sus clientes para ofrecerles un nuevo crédito hipotecario.
Cada cliente tiene datos como: nombre, ingreso mensual, deudas actuales y número de productos contratados.

Objetivo:
1. Crear la base de datos de clientes usando un diccionario.
2. Usar for para recorrer todos los clientes.
3. Aplicar condicionales para clasificar:
   - "Elegible" si su ingreso anual es mayor a 36,000 soles, sus deudas son menores a 15,000 soles y tiene al menos 2 productos contratados.
   - "Requiere Evaluación" si cumple solo algunas condiciones.
   - "No Elegible" si no cumple ninguna condición.
4. Mostrar el resultado bien formateado por cliente.

Instrucciones

1. Crea un diccionario llamado clientes con al menos 5 clientes.
2. Cada cliente tendrá:
   - Nombre (str)
   - Ingreso mensual (float)
   - Deudas (float)
   - Número de productos contratados (int)
3. Calcula el ingreso anual (ingreso mensual × 12).
4. Usa un for para recorrer cada cliente.
5. Usa if, elif, else para clasificarlo en una de las tres categorías.
6. Muestra en pantalla: Cliente: {nombre} - Resultado: {clasificación}

In [58]:
# Crear el diccionario de clientes
clients = {
    "Juan Pérez": {"monthly_income": 3500, "debts": 12000, "products_count": 3},
    "María López": {"monthly_income": 2000, "debts": 8000, "products_count": 1},
    "Pedro Gómez": {"monthly_income": 5000, "debts": 10000, "products_count": 4},
    "Lucía Rodríguez": {"monthly_income": 2500, "debts": 16000, "products_count": 2},
    "Andrés Martínez": {"monthly_income": 4500, "debts": 7000, "products_count": 3},
    "Carlos Fernández": {"monthly_income": 6000, "debts": 5000, "products_count": 5},
    "Ana Martínez": {"monthly_income": 3000, "debts": 11000, "products_count": 2},
    "José García": {"monthly_income": 4000, "debts": 2000, "products_count": 1},
    "Patricia Sánchez": {"monthly_income": 5500, "debts": 13000, "products_count": 3},
    "Luis Rodríguez": {"monthly_income": 7000, "debts": 8000, "products_count": 6}
}

# Recorrer el diccionario de clientes
for name, data in clients.items():
    annual_income = round(data["monthly_income"] * 12)  # Calcular ingreso anual y redondearlo
    difference = abs(annual_income - data["debts"])  # Calcular la diferencia absoluta

    # Clasificar al cliente según los criterios
    if annual_income > 36000 and data["debts"] < 15000 and data["products_count"] >= 2:
        classification = "Elegible"
    elif annual_income > 20000 and data["debts"] < 20000:
        classification = "Requiere Evaluación"
    else:
        classification = "No Elegible"

    # Mostrar el resultado
    print(f"Cliente: {name} - Ingreso Anual: {annual_income} soles - Diferencia Ingreso vs Deudas: {difference} soles - Resultado: {classification}")

Cliente: Juan Pérez - Ingreso Anual: 42000 soles - Diferencia Ingreso vs Deudas: 30000 soles - Resultado: Elegible
Cliente: María López - Ingreso Anual: 24000 soles - Diferencia Ingreso vs Deudas: 16000 soles - Resultado: Requiere Evaluación
Cliente: Pedro Gómez - Ingreso Anual: 60000 soles - Diferencia Ingreso vs Deudas: 50000 soles - Resultado: Elegible
Cliente: Lucía Rodríguez - Ingreso Anual: 30000 soles - Diferencia Ingreso vs Deudas: 14000 soles - Resultado: Requiere Evaluación
Cliente: Andrés Martínez - Ingreso Anual: 54000 soles - Diferencia Ingreso vs Deudas: 47000 soles - Resultado: Elegible
Cliente: Carlos Fernández - Ingreso Anual: 72000 soles - Diferencia Ingreso vs Deudas: 67000 soles - Resultado: Elegible
Cliente: Ana Martínez - Ingreso Anual: 36000 soles - Diferencia Ingreso vs Deudas: 25000 soles - Resultado: Requiere Evaluación
Cliente: José García - Ingreso Anual: 48000 soles - Diferencia Ingreso vs Deudas: 46000 soles - Resultado: Requiere Evaluación
Cliente: Patricia Sánchez - Ingreso Anual: 66000 soles - Diferencia Ingreso vs Deudas: 53000 soles - Resultado: Elegible
Cliente: Luis Rodríguez - Ingreso Anual: 84000 soles - Diferencia Ingreso vs Deudas: 76000 soles - Resultado: Elegible

# 🔥 Nivel extra:

1. Ingresa manualmente los clientes (input).
2. Calcula la diferencia absoluta (abs) entre ingreso anual y deudas.
3. Redondea (round) el ingreso anual al número entero más cercano.

In [59]:
# Crear un diccionario vacío para guardar los clientes
clients = {}

# Pedir al usuario cuántos clientes quiere ingresar
number_of_clients = int(input("¿Cuántos clientes deseas ingresar? "))

# Ingresar los datos de cada cliente
for i in range(number_of_clients):
    print(f"\nIngresando datos del cliente {i + 1}:")
    name = input("Nombre del cliente: ")
    monthly_income = float(input("Ingreso mensual (en soles): "))
    debts = float(input("Deudas actuales (en soles): "))
    products_count = int(input("Número de productos contratados: "))

    # Guardar los datos en el diccionario
    clients[name] = {
        "monthly_income": monthly_income,
        "debts": debts,
        "products_count": products_count
    }

# Recorrer los clientes y evaluar
print("\nResultados de la evaluación:")
for name, data in clients.items():
    annual_income = round(data["monthly_income"] * 12)  # Calcular ingreso anual y redondearlo
    difference = abs(annual_income - data["debts"])     # Calcular la diferencia absoluta

    # Clasificar al cliente
    if annual_income > 36000 and data["debts"] < 15000 and data["products_count"] >= 2:
        classification = "Elegible"
    elif annual_income > 20000 and data["debts"] < 20000:
        classification = "Requiere Evaluación"
    else:
        classification = "No Elegible"

    # Mostrar el resultado
    print(f"Cliente: {name} - Ingreso Anual: {annual_income} soles - Diferencia Ingreso vs Deudas: {difference} soles - Resultado: {classification}")

¿Cuántos clientes deseas ingresar? 3

Ingresando datos del cliente 1:
Nombre del cliente: Daniel
Ingreso mensual (en soles): 4500
Deudas actuales (en soles): 34000
Número de productos contratados: 5

Ingresando datos del cliente 2:
Nombre del cliente: Pepe
Ingreso mensual (en soles): 14000
Deudas actuales (en soles): 2000
Número de productos contratados: 5

Ingresando datos del cliente 3:
Nombre del cliente: Nicolas
Ingreso mensual (en soles): 18000
Deudas actuales (en soles): 120000
Número de productos contratados: 3

Resultados de la evaluación:
Cliente: Daniel - Ingreso Anual: 54000 soles - Diferencia Ingreso vs Deudas: 20000.0 soles - Resultado: No Elegible
Cliente: Pepe - Ingreso Anual: 168000 soles - Diferencia Ingreso vs Deudas: 166000.0 soles - Resultado: Elegible
Cliente: Nicolas - Ingreso Anual: 216000 soles - Diferencia Ingreso vs Deudas: 96000.0 soles - Resultado: No Elegible