<a href="https://colab.research.google.com/github/DArsem2306/Programa-Python-Utec/blob/main/modulo2_Estructuras_de_Datos/Clase03_Tuplas/%5B3%5D_Progama_Python_UTEC_Sesion03_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [1] Tuplas

### [1.1] Tuplas a partir de un DataFrame

In [1]:
import pandas as pd
data = pd.read_csv("clientes.csv",sep=';')
data.shape

(8, 5)

### [1.2] Tuplas a partir de enumerate

In [2]:
paises = ['perú','colombia','venezuela','ecuador','chile']

for i,pais in enumerate(paises):
  print((i,pais))

(0, 'perú')
(1, 'colombia')
(2, 'venezuela')
(3, 'ecuador')
(4, 'chile')

### [1.3] Tuplas a partir de librería os

In [3]:
import os

ruta = "/home/usuario/archivo.txt"
resultado = os.path.split(ruta)
print(resultado)

('/home/usuario', 'archivo.txt')

## [2] Crear tuplas e identificar los tipos de tuplas

In [4]:
tupla_0 = ('ibk','bcp','bbva')
print(tupla_0)

('ibk', 'bcp', 'bbva')

In [6]:
tupla_0 = () # Tupla vacía

In [7]:
type(tupla_0)

tuple

In [8]:
tupla_1 = (5,) # Tupla de 1 elemento
type(tupla_1)

tuple

In [11]:
#Creando una lista con 1 elemento
lista_0 = [1]
type(lista_0)

list

In [12]:
tup_0 = [1]
type(lista_0)

list

## Actividad N022

Crear una tupla con el nombre “equipos”, los elementos de la tupla serán 5 equipos de fútbol y vamos a mostrar en pantalla el resultado.

In [14]:
# Crear la tupla con 5 equipos de fútbol
equipos = ("Barcelona", "Real Madrid", "Manchester City", "Juventus", "Inti Gas")

# Mostrar el contenido de la tupla
print(equipos)

('Barcelona', 'Real Madrid', 'Manchester City', 'Juventus', 'Inti Gas')

## [3] Tipos de tuplas

In [ ]:
# Tupla homogénea => elementos son del mismo tipo

tupla_2 = (2.0, 2.5, 3.2, 4.3, 4.5, 6.5, 7.0)
print(f"La tupla es \n{tupla_2}")
print(f"El objeto tupla_2 es del tipo {type(tupla_2)}")

## Actividad N023

(2,5.5,'UTEC',True)

Crear una tupla con la información de la imagen superior y nombrar como “info_personal”.
¿Qué tipo de tupla es “info_personal”?

In [16]:
info_personal = (2,5.5,'UTEC',True)
print(f"La tupla es \n{info_personal}")
print(f"El objeto info_personal es del tipo {type(info_personal)}")

La tupla es
(2, 5.5, 'UTEC', True)
El objeto info_personal es del tipo <class 'tuple'>

## [4] Acceder a los elementos de las tuplas

In [17]:
materias = ('algebra','aritmética','razonamiento verbal','trigonometría','geometría')

In [18]:
materias[2]

'razonamiento verbal'

In [19]:
materias[1:3]

('aritmética', 'razonamiento verbal')

In [21]:
print(f"La tupla es {tupla_3}")
print(f"El elemento de índice 1 de la tupla es {tupla_3[1]}")

NameError: name 'tupla_3' is not defined

In [22]:
tupla_4 = (1,2,3,4,5,6,7,8,9,10)

In [23]:
# Acceder a los elementos de la tupla por operadores de segmentación
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[2:7]}")

Los elementos seleccionados de la tupla original son
(3, 4, 5, 6, 7)

In [29]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[7:]}")

Los elementos seleccionados de la tupla original son
(8, 9, 10)

In [28]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[0:4]}")

Los elementos seleccionados de la tupla original son
(1, 2, 3, 4)

In [27]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[:4]}")

Los elementos seleccionados de la tupla original son
(1, 2, 3, 4)

## Actividad N024

Acceder al último elemento de la tupla (“equipos”).

In [30]:
# Acceder al último elemento
ultimo_equipo = equipos[-1]

# Mostrarlo
print("🏁 El último equipo de la tupla es:", ultimo_equipo)

🏁 El último equipo de la tupla es: Inti Gas

Acceder a los primeros 3 elementos de la tupla (“equipos”).

In [33]:
# Acceder a los 3 primeros
primeros3_equipo = equipos[0:3]

# Mostrarlo
print("los primeros 3 elementos de la tupla es:", primeros3_equipo)

los primeros 3 elementos de la tupla es: ('Barcelona', 'Real Madrid', 'Manchester City')

## [5] Desempaquetado de tuplas

In [ ]:
var_1, var_2 = "UTEC","UPC" # Desempaquetado de dos cadenas de caracteres en dos variables (var_1,var_2)

In [ ]:
print(f"El valor de var_1 es {var_1}")
print(f"El valor de var_2 es {var_2}")

In [ ]:
t_vocales = ("a", "e", "i", "o", "u")
print(f"La tupla vocales es {t_vocales}")

In [ ]:
print(f"La selección de los primeros tres elementos es {t_vocales[0:3]}")

In [ ]:
x, y, z = t_vocales[0:3] # Desempaquetar los elementos de la tupla en 3 variables

In [ ]:
print(f"El primer elemento de la tupla vocales es {x}.")
print(f"El segundo elemento de la tupla vocales es {y}.")
print(f"El tercer elemento de la tupla vocales es {z}.")

In [ ]:
t_vocales[0] = "A" # Tuplas son inmutables

In [ ]:
print(materias)

In [ ]:
x,y,z = materias[0:3]

## Actividad N025

Desempaquetar los 2 últimos equipos de la tupla (“equipos”) y almacenarlos en los objetos equipo_A y equipo_B.

## [6] Desempaquetado de tuplas con FOR

In [ ]:
t_prod = (("A0001","manzana",3.0),("A0002","aceite",7.5))

In [ ]:
print(f"La tupla de productos es \n{t_prod}")

In [ ]:
for cod,prod,pre in t_prod:
  print(f"El producto {prod} con código {cod} tiene el precio vigente en S/.{pre}")

## [7] Función tuple

In [ ]:
pares = tuple(range(2,11,2))
print(pares)

In [ ]:
lista_ = list(range(10)) # Función list me permite crear listas

In [ ]:
print(f"La lista {lista_} es del tipo {type(lista_)}")

In [ ]:
tupla_ = tuple(lista_) # Función tuple me permite crear tuplas
print(f"La tupla {tupla_} es del tipo {type(tupla_)}")

In [ ]:
tuple("David")

## Actividad N026

Crear la tupla cobre_prod, esta tupla estará compuesta por la información del cuadro.

## Actividad N027

Desempaquetar la tupla cobre_prod, imprimir en pantalla los siguientes enunciados.